@import "assets/scss/helper.scss";

.partners-sponsor-info {
  display: flex;
  align-items: center;
  column-gap: 3px;

  &__icon {
    margin-right: 4px;
  }

  &__text {
    @include fontMontserrat12Regular;

    color: $grey-basic50;

    &--underline {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
